<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header>
    <!-- <h1>{{ title }}</h1> -->
    <!-- <nav class="navbar navbar-fixed-top mb-1"> -->
      <nav class="navbar navbar-light d-md-flex"><!--ml-md-auto  flex-row  d-none  -->
      <div class="container">
        <!-- <a routerLink="/" class="navbar-brand">{{ title }}</a> -->
        <a routerLink="/" class="navbar-brand">
          <img id="logo" src="../assets/images/DataDVR.png">
        </a>
        <a routerLink="/contact" routerLinkActive="active-link" class="nav-item float-right">Contact</a>
        <a routerLink="/about" routerLinkActive="active-link" class="nav-item float-right">About</a>
        <a routerLink="/games" routerLinkActive="active-link" class="nav-item float-right">Games</a>
      </div>
    </nav>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>


  <!-- <app-games></app-games> -->

</div>