#weeks {
    width: 6em;
}

#weeks li,
#games li {
    padding: .5em .2em;
}

#games {
    width: 7em;
}

.not-selected:hover {
    background-color: lightgray;
}

.play-data {
    padding: .25em .75em;
}

.play-data label {
    color: darkgray;
    padding-right: .25em;
}

.play-data p {
    margin-bottom: 0;
    font-size: .8em;
}

select.btn-primary option {
    color: black;
    background-color: white;
    /* padding-top: 20px !important;
    padding-bottom: 1em !important; */
}

.list-group-item {
    padding: .5em 1em;
}

.jumbotron {
    padding: 1rem;
}


.team-logo {
    height: 100px;
    width: 100px;
}

.crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.crop img {
    width: 65px;
    height: 65px;
    margin-top: -32px;
    margin-bottom: -27px;
}

 /* img {
    height: 100px;
    width: 100px;
}  */

#gameHeader {
    font-size: 1.5em;
}

.player-image {
    margin-right: 1.5em;
    display: inline;
}

.player-image img,
.player-image-2 img {
    height: 100px;
    width: 100px;
}

.player-image-2 {
    margin-left: 1.5em;
    margin-right: .5em;
    display: inline;
}

.receiver {
    margin-left: 1.5em;
    width: 15em;
}

.player-data {
    width: 10em;
    white-space: nowrap;
}

.player-data span {
    vertical-align: top;
}

.single-player-data {
    width: 20em;
    white-space: nowrap;
}

.jumbotron {
    padding-top: .7em;
}

#playHeader {
    padding-bottom: .8em;
}
