<div class="row">
  <div class="col-2 mb-2">
    <p *ngIf="!doneLoadingSchedule">Loading schedule...</p>
    <select *ngIf="doneLoadingSchedule" id="weekSelect" [(ngModel)]="selectedWeek" class="btn btn-success">
      <option value="undefined">Select Week</option>
      <option *ngFor="let week of weeks; i as index" [value]="week" >
        Week {{week}}
      </option>
    </select>
    <!-- <ul id="weeks" class="list-group">
      <li *ngFor="let week of weeks" class="list-group-item btn btn-link btn-sm hoverable" 
        [ngClass]="{'active': this.selectedWeek == week, 'not-selected': this.selectedWeek != week }"
        (click)="setWeek(week)">
        Week {{week}}
      </li>
    </ul> -->
  </div>
  <div *ngIf="selectedGame" class="col-10">
    <h3>{{selectedGame.awayTeam.City}} {{selectedGame.awayTeam.Name}} @ {{selectedGame.homeTeam.City}} {{selectedGame.homeTeam.Name}}</h3>
    <!-- <h5>{{selectedGame.date}}</h5> -->
</div>
</div>
<div class="row">
  <div class="col-2">
    <ul id="games" class="list-group">
        <li *ngFor="let game of games" class="list-group-item btn btn-link btn-sm hoverable" 
          [ngClass]="{'active': this.selectedGameId == game.id, 'not-selected': this.selectedGameId != game.id }"
          (click)="setGame(game.id)">
          {{game.awayTeam.Abbreviation}} @ {{game.homeTeam.Abbreviation}}
        </li>
      </ul>
  </div>
  <div class="col-6" *ngIf="selectedGame !== null" >
    <p *ngIf="loadingPlays">
      Loading...
    </p>
    <ul *ngIf="showPlays" class="list-group">
        <li *ngFor="let play of playArray" class="list-group-item play-data" >
            <label>Quarter:</label>{{play.quarter}}
            <label>Time:</label>{{play.time}}
            <label>Down:</label>{{play.currentDown}}
            <label>To go:</label>{{play.yardsRemaining}}
        <!-- <p>
          {{play.description}}
        </p> -->
      </li>
    </ul>
  </div>
  <div class="col-2">
    <p *ngIf="loadingPlays">
      Loading...
    </p>
    <ul *ngIf="showPlays" class="list-group">
      <li *ngFor="let play of playList" class="list-group-item">
        <label>Index:</label>{{play.index}}
        <label>Quarter:</label>{{play.quarter}}
        <label>Clock:</label>{{play.clock}}
        <label>Down:</label>{{play.currentDown}}
      </li>
    </ul>
  </div>
</div>